<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

 <!-- Navbar goes here -->

    <!-- Navbar goes here -->


    <!-- Page Layout here -->
    <div class="row">

      <!-- <div class="col s12 red lighten-1">
        <p>Navbar</p>
      </div> -->


      <div class="col s3 red darken-3 white-text text-darken-3 full-height">
        {%- include sidebar.html -%}
      </div>

      <div class="col s9">
        {{ content }}
      </div>

    </div>


<!--     {%- include header.html -%}


    <div>Sidebar</div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
 -->
  </body>

</html>
